@import '~@angular/material/theming';

.cta-button {
    background: #62B7ED;
    color: #FFF;
    min-height: 40px;
}

.gray-background {
    background: #F6F8F9;
}

.mat-drawer-container,
.mat-drawer {
    background: #fff;
    color: rgba(0,0,0,0.87);
}

h1 {
    color: rgba(0,0,0,0.87);
}
h2 {
    color:  #6A7C92;
}

@media screen and (min-width: 720px) {
    .show-on-mobile {
        display: none !important;
    }
}
@media screen and (max-width: 719px) {
    .hide-on-mobile {
        display: none !important;
    }
}

.inline {
    display: flex;
    align-items: center;
}

.navigation-header {
    background-color: #FFF;
    color: #000;
    box-shadow: 0 1px 2px 0 rgba(36,50,66,.15);
    align-items: center;
    height: 48px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;

    @media screen and (min-width: 720px) {
        padding: 12px 24px;
    }

    button.mat-button {
        color: rgba(0,0,0,0.87);
    }

    .banner-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-right: 24px;
    }
}

.hero-section {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 72px 24px 48px;
    text-align: center;

    @media screen and (max-width: 719px) {
        margin-top: 30px;
    }

    h1 {
        margin: 24px 0 12px 0;
    }
}

.value-prop-section {
    background: #59bcb6; /* Old browsers */
    background: -moz-linear-gradient(left, #59bcb6 0%, #4aa7c0 51%, #368fcb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #59bcb6 0%,#4aa7c0 51%,#368fcb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #59bcb6 0%,#4aa7c0 51%,#368fcb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bcb6', endColorstr='#368fcb',GradientType=1 ); /* IE6-9 */
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: #fff;
        text-align: center;
    }

    .title {
        font-size: 32px;
        margin: 28px;
    }

    .horizontal-divider{
        border-bottom: 1px rgba(255,255,255, 0.8) solid;
        margin: auto;
        width: 100px;
    }

    .value-prop-section-container {
        display: flex;
        align-items: center;             
        justify-content: space-between;
        flex-direction: column;
        width: 100%;

        @media screen and (max-width: 720px) {
            flex-wrap: wrap;
            justify-content: center;
            margin: 18px 48px;                 
        }

        .icon-container {
            width: 130px;
            display: flex;
            justify-content: center;
            margin-right: 12px;
        }

        i {
            color: rgba(255,255,255,0.8);
            font-size: 75px;
        }

        .value-prop-line-item {
            display: flex;
            align-items: center;

            @media screen and (min-width: 719px) {
                height: 125px;
            }

            @media screen and (max-width: 720px) {
                flex-direction: column;
                margin: 12px;
                text-align: center;
            }

            h3 {
                font-size: 24px;
                margin: 6px 0;
            }

            .value-prop-text {
                @media screen and (min-width: 719px) {
                    width: 500px;
                }
                line-height: 1.3em;
                letter-spacing: 1px;
            }
        }

    }
}

.cta-section {
    padding: 48px 32px;
    text-align: center;
}

.how-it-works-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 24px;

    .teal {
        color: #71DBC3;
    }

    .blue {
        color: #4A90E2;
    }

    .gray {
        color: #9B9B9B;
    }

    .how-it-works-col {
        align-items: center;
        display: flex;         
        flex-direction: column;
        justify-content: center;
        min-width: 260px;
        min-height: 230px;
        @media screen and (max-width: 720px) {
            min-width: 400px;
        }
    }

    .how-it-works-col:nth-child(even) {
        margin: 0 32px;        

        @media screen and (min-width: 976px) {
            padding: 0 32px;
            border-width: 0 1px 0 1px;
            border-style: solid;
            border-color: rgba(0,0,0,0.24);
        }
    }

    .how-it-works-col-title {
        text-align: center;
        @media screen and (max-width: 720px) {
            display: flex;
            align-items: center;
            margin-left: 36px;
        }

        h2 {
            font-size: 22px;
            order: 2;
            @media screen and (max-width: 720px) {
                width: 225px;
                text-align: left;
            }
        }

        i {
            order: 1;
            @media screen and (max-width: 720px) {
                margin-right: 24px;
            }
        }
    }

    i {
        color: #6A7C92; 
        font-size: 48px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        text-align: left;
    }

    li {
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 200;
    }
}

.main-sidenav {
    a {
        text-decoration: none;
    }

    .sidenav-item {
        border-bottom: 1px solid rgba(0,0,0,0.87);
        padding: 24px;
        width: 100%;
        color: rgba(0,0,0,0.87);
        font-size: 18px;
        font-weight: 400;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.waitlist-form {
    padding: 72px 24px;
    text-align: center;

    .form {
        max-width: 500px;
        margin: auto;
    }

    .services-block {
        text-align: left;
        ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
            background-color: darkcyan !important;
        }

        .tappable {
            display: flex;
            padding: 6px 0;

            @media screen and (min-width: 720px) {
                align-items: center;
            }
    
            @media screen and (max-width: 719px) {
                flex-direction: column;
            }
        }
    }

    .splash-check {
        font-size: 300px;
        color: green;
        width: 300px;
        height: 300px;
    }
    @media screen and (min-width: 720px) {
        .mat-checkbox {
             margin-right: 8px;
        }
    }
}

.pricing {
    margin: 96px 24px 24px;
    text-align: center;

    .pricing-col-container {
        display: flex;
        justify-content: center;
    }

    .pricing-column:nth-child(even) {
        background-color: #EDF8FE;
    }

    .pricing-column {
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .pricing-column-header {
            margin: 24px 0 12px;
            padding-bottom: 12px;
            border-bottom: 2px solid rgba(0,0,0,0.24);



            .price-title,
            .price {
                font-size: 24px;
                font-weight: 400;
            }
        }

        .price-desc {
            font-size: 18px;
            font-weight: 200;
            margin: 6px 24px;
        }

        .pricing-item {
            text-align: left;
            display: flex;
            align-items: center;
            margin: 6px 24px;
            font-weight: 200;

            .mat-icon {
                color: green;
                margin-right: 12px;
                font-weight: bold;
            }
        }
    }
}

.pricing-footer {
    background: #F6F8F9;
    text-align: center;
    padding: 24px
}


.homepage-footer {
    background: #F6F8F9;
    display: flex;
    padding: 24px;
    color: #919EAB;
    font-size: 15px;
    font-weight: 200;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .footer-line {
        margin: 6px 0;
    }
}