.mat-drawer-container,
.mat-drawer {
    background: #fff;
    color: rgba(0,0,0,0.87);
}

h1 {
    color: rgba(0,0,0,0.87);
}
h2 {
    color:  #6A7C92;
}

@media screen and (min-width: 720px) {
    .show-on-mobile {
        display: none !important;
    }
}
@media screen and (max-width: 719px) {
    .hide-on-mobile {
        display: none !important;
    }
}

.inline {
    display: flex;
    align-items: center;
}

.navigation-header {
    background-color: #28507F;
    color: #FFF;
    align-items: center;
    height: 48px;
    display: flex;
    @media screen and (min-width: 720px) {
        padding: 0 24px;
    }

    button.mat-button {
        color: #FFF;
    }

    .banner-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

.hero-section {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    text-align: center;

    h1 {
        margin: 24px 0 12px 0;
    }
}

.value-prop-section {
    background: #59bcb6; /* Old browsers */
    background: -moz-linear-gradient(left, #59bcb6 0%, #4aa7c0 51%, #368fcb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #59bcb6 0%,#4aa7c0 51%,#368fcb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #59bcb6 0%,#4aa7c0 51%,#368fcb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bcb6', endColorstr='#368fcb',GradientType=1 ); /* IE6-9 */
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: #fff;
    }

    .horizontal-divider{
        border-bottom: 1px rgba(255,255,255, 0.8) solid;
        margin: auto;
        width: 100px;
    }

    .value-prop-section-container {
        display: flex;
        align-items: center;             
        justify-content: space-between;
        margin-top: 8px;

        @media screen and (max-width: 720px) {
            flex-wrap: wrap;
            justify-content: center;                  
        }

        .text-container {
            @media screen and (min-width: 720px) {
                width: calc(100% - 400px)
            }
        }

        .icon-container,
        .text-container {
            color: #FFF;
            margin: 18px 12px;
            @media screen and (max-width: 719px) {
                margin: 18px 48px;
            }
        }


        .icon-container {
            display: flex;
            align-items: center;

            .side-panel-icon {
                font-size: 300px;
                color: #B4E2E7;
                text-shadow: -1px -1px rgba(0, 0, 0, 0.54);
                height: 300px;
                width: 300px;
                @media screen and (max-width: 719px) {
                    margin: -25px 0 -50px 0;
                }
            }
        }

        .text-container {
            .value-prop-line-item {
                display: flex;
                mat-icon {
                    margin-top: 18px;
                    margin-right: 12px;
                }
            }

            button {
                margin: 24px;
            }
        }
    }
}

.cta-section {
    padding: 48px 0;
    text-align: center;
}

.how-it-works-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 24px;

    .how-it-works-col {
        align-items: center;
        display: flex;         
        flex-direction: column;
        justify-content: center;
        min-width: 260px;
        min-height: 305px;
        @media screen and (max-width: 720px) {
            min-width: 400px;
        }
    }

    .how-it-works-col:nth-child(even) {
        margin: 0 32px;        

        @media screen and (min-width: 976px) {
            padding: 0 32px;
            border-width: 0 1px 0 1px;
            border-style: solid;
            border-color: rgba(0,0,0,0.24);
        }
    }

    .how-it-works-col-title {
        text-align: center;
    }

    i {
        color: #6A7C92; 
        font-size: 48px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        text-align: left;
    }

    li {
        margin-bottom: 8px;
    }
}

.main-sidenav {
    a {
        text-decoration: none;
    }

    .sidenav-item {
        border-bottom: 1px solid rgba(0,0,0,0.87);
        padding: 24px;
        width: 100%;
    }

}