<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="navOpen" class="show-on-mobile main-sidenav">
    <a routerLink="/business" (click)="sidenav.close()"><div class="sidenav-item">For Businesses</div></a>
    <a routerLink="/editor" (click)="sidenav.close()"><div class="sidenav-item">For Podcast Editors</div></a>
    <a routerLink="/business/pricing" (click)="sidenav.close()"><div class="sidenav-item">Pricing</div></a>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="navigation-header">
      <div class="show-on-mobile inline">
          <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <logo [width]="100" [height]="50"></logo>
      </div>
      <div class="banner-bar hide-on-mobile">
        <logo [width]="125" [height]="60"></logo>
        <div class="link-container">
          <a routerLink="/business"><button mat-button>For Businesses</button></a>
          <a routerLink="/editor"><button mat-button>For Podcast Editors</button></a>
          <a routerLink="/business/pricing" (click)="sidenav.close()"><button mat-button>Pricing</button></a>
        </div>
      </div>
    </div>
    <waitlist-form *ngIf="pageType === 'waitlist'" [isBusiness]="isBusiness"></waitlist-form>
    <ng-container *ngIf="pageType === 'home'">
        <div class="hero-section">
            <h1 class="headline">{{heroText}}</h1>
            <h2 class="title">{{heroSecondary}}</h2>
            <button mat-raised-button class="cta-button" (click)="openWaitlistDialog()">{{cta(0)}}</button>
        </div>
        <div class="value-prop-section">
            <h2 class="title">{{valuePropTitle}}</h2>
            <div class="horizontal-divider"></div>
            <div class="value-prop-section-container">
                <div *ngFor="let prop of valueProps" class="value-prop-line-item">
                    <div class="icon-container"><i class="fas fa-{{prop.icon}}"></i></div>
                    <div class="value-prop-text"><h3>{{prop.title}}</h3><div>{{prop.description}}</div></div>
                </div>

            </div>
        </div>
        <div class="cta-section" [class.gray-background]="isBusiness">
            <div *ngIf="isBusiness">
                <how-it-works></how-it-works>
            </div>
            <div *ngIf="!isBusiness">
                <h1>The easiest way to become a full time podcast editor</h1>
            </div>
            <button mat-raised-button class="cta-button" (click)="openWaitlistDialog()">{{cta(1)}}</button>
        </div>
        <div class="cta-section" *ngIf="isBusiness">
            <h1 class="headline">The easiest way to create a podcast for your business</h1>
            <h2 class="title">Focus on making great content</h2>
            <button mat-raised-button class="cta-button" (click)="openWaitlistDialog()">{{cta(2)}}</button>
        </div>
        <div class="homepage-footer">
            <div>
                <div class="footer-line">Schedule a conversation</div>
                <div class="footer-line"><a href="mailto:hello@peakpodcasting.com">hello@peakpodcasting.com</a></div>
            </div>
            <div>
                <div class="footer-line hide-on-mobile"><!--spacing-->&nbsp;</div>
                <div class="footer-line">© 2019 Peak Podcasting. All rights reserved.</div>
            </div>
        </div>
        </ng-container>
        <div *ngIf="pageType === 'pricing'">
            <div class="pricing">
                <h2>Get the power, support and control you need to create and manage your team's podcast</h2>
                <div class="pricing-container">
                    <div class="pricing-col-container">
                        <div class="pricing-column">
                            <div class="pricing-column-header">
                                <div class="price-title">Basic</div>
                                <p class="price-desc">For teams that need to get their recorded podcast out the door</p>
                                <p class="price">$275</p>
                                <button mat-raised-button class="cta-button" (click)="pricing('basic')">Get Started</button>
                            </div>
                            <div class="pricing-column-footer">
                                <div class="price-desc">Get your podcast sounding great</div>
                                <div class="pricing-item" *ngFor="let text of ['Remove ahs and ums', 'Reduce background noise', 'Master to appropriate volume', 'Add supplied intro/outro']"><mat-icon>check</mat-icon>{{text}}</div>
                            </div>
                        </div>
                        <div class="pricing-column">
                            <div class="pricing-column-header">
                                <div class="price-title">Premium</div>
                                <p class="price-desc">For teams that need their podcast fully managed</p>
                                <p class="price">$385</p>
                                <button mat-raised-button class="cta-button" (click)="pricing('basic')">Get Started</button>
                            </div>
                            <div class="pricing-column-footer">
                                <div class="price-desc">Everything in basic plus</div>
                                <div class="pricing-item" *ngFor="let text of ['Edit based on a supplied transcript', 'Full audio transcript with timestamps', 'Optimize discoverability with ID3 tagging', 'Add supplied music or sponsored content']"><mat-icon>check</mat-icon>{{text}}</div>
                            </div>
                        </div>
                        <div class="pricing-column">
                            <div class="pricing-column-header">
                                <div class="price-title">Enterprise</div>
                                <p class="price-desc">For teams that need to create a new podcast</p>
                                <p class="price">&nbsp;<!--spacing--></p>
                                <button mat-raised-button class="cta-button" (click)="pricing('basic')">Get Started</button>
                            </div>
                            <div class="pricing-column-footer">
                                <div class="price-desc">Everything in premium plus</div>
                                <div class="pricing-item" *ngFor="let text of ['Podcast website', 'Hosting and Distribution', 'Custom logo art', 'Custom intro/outro music', 'Per episode show notes', 'Performance statistics']"><mat-icon>check</mat-icon>{{text}}</div>
                            </div>
                        </div>
                    </div>
                <p>* Pricing is billed monthly per episode for up to an hour of unedited content</p>
                </div>
            </div>
            <div class="pricing-footer">
                <h1 class="headline">The easiest way to create a podcast for your business</h1>
                <h2 class="title">Focus on making great content</h2>
                <button mat-raised-button class="cta-button" (click)="openWaitlistDialog()">{{cta(2)}}</button>
            </div>
        </div>
  </mat-sidenav-content>
</mat-sidenav-container>