<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="navOpen" class="show-on-mobile main-sidenav">
    <a routerLink="/business" (click)="sidenav.close()"><div class="sidenav-item">For Businesses</div></a>
    <a routerLink="/editor" (click)="sidenav.close()"><div class="sidenav-item">For Podcast Editors</div></a>
    <a routerLink="#" (click)="sidenav.close()"><div class="sidenav-item">About</div></a>
    <a routerLink="#" (click)="sidenav.close()"><div class="sidenav-item">How it works</div></a>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="navigation-header">
      <div class="show-on-mobile inline">
          <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <div>Peak Podcasting</div>
      </div>
      <div class="banner-bar hide-on-mobile">
        <div>Peak Podcasting</div>
        <div>
          <a routerLink="/business"><button mat-button>For Businesses</button></a>
          <a routerLink="/editor"><button mat-button>For Podcast Editors</button></a>
          <a routerLink="#"><button mat-button>About</button></a>
          <a routerLink="#"><button mat-button>How it works</button></a>
        </div>
      </div>
    </div>
    <div class="hero-section">
        <h1 class="headline">{{heroText}}</h1>
        <h2 class="title">{{heroSecondary}}</h2>
        <button mat-raised-button (click)="openWaitlistDialog()">{{cta(0)}}</button>
    </div>
    <div class="value-prop-section">
        <h2 class="title">{{valuePropTitle}}</h2>
        <div class="horizontal-divider"></div>
        <div class="value-prop-section-container">
            <div class="icon-container">
                <i *ngIf="valuePropIcon.type === 'fa'" class="side-panel-icon fas fa-{{valuePropIcon.name}}"></i>
                <mat-icon *ngIf="valuePropIcon.type === 'mi'" class="side-panel-icon">{{valuePropIcon.name}}</mat-icon>
                <div class="side-icons">
                    <i *ngFor="let icon of valuePropSideIcons" class="fas fa-{{icon}}"></i>
                </div>
            </div>
            <div class="text-container">
                <div *ngFor="let prop of valueProps" class="value-prop-line-item">
                    <mat-icon>check_circle_outline</mat-icon>
                    <div><h3>{{prop.title}}</h3><div>{{prop.description}}</div></div>
                </div>
                <button mat-raised-button (click)="openWaitlistDialog()">{{cta(1)}}</button>
            </div>
        </div>
    </div>
    <div class="cta-section">
        <div *ngIf="isBusiness">
            <how-it-works></how-it-works>
        </div>
        <div *ngIf="!isBusiness">
            <h1>The easiest way to become a full time podcast editor</h1>
        </div>

        <button mat-raised-button (click)="openWaitlistDialog()">{{cta(2)}}</button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>