<div class="how-it-works-container">
    <div class="how-it-works-col">
        <div class="how-it-works-col-title">
            <h2>Setup new podcast</h2>
            <i class="fas fa-vector-square teal"></i>
        </div>
        <ul>
            <li>Create your podcast website</li>
            <li>Write a show description</li>
            <li>Find music for your podcast</li>
            <li>Find cover art</li>
        </ul>
    </div>
    <div class="how-it-works-col">
        <div class="how-it-works-col-title">
            <h2>Edit podcast episode(s)</h2>
            <i class="fas fa-cogs blue"></i>
        </div>
        <ul>
            <li>Remove the 'ahs' and 'ums' </li>
            <li>Reduce background noise</li>
            <li>Master to level volume</li>
            <li>Add supplied into and outro music</li>
        </ul>
    </div>
    <div class="how-it-works-col">
        <div class="how-it-works-col-title">
            <h2>Distribute podcast</h2>
            <i class="fas fa-broadcast-tower gray"></i>
        </div>
        <ul>
            <li>Host and distribute your podcast</li>
            <li>Optimize podcast discoverablility</li>
            <li>Monthly updates with statistics</li>
            <li>Write shown notes</li>
        </ul>
    </div>
</div>
