<div class="how-it-works-container">
    <div class="how-it-works-timeline">
        <h1>How it works</h1>
        <div class="section-headers">
            <div class="basic name">basic</div>
            <div class="premium name">premium</div>
            <div class="enterprise name">enterprise</div>
        </div>
        <h2>Getting the podcast online</h2>
        <div class="timeline-wrapper">
            <div class="timeline">
                <div class="enterprise">
                    <div class="timeline-item">Set up podcast website</div>
                    <div class="timeline-item">Find intro / outro music</div>
                    <div class="timeline-item">Find podcast art</div>
                    <div class="timeline-item">Submit podcast to all client services</div>
                </div>
            </div>
        </div>

        <h2>Making your raw audio a podcast</h2>
        <div class="timeline-wrapper">
            <div class="timeline">
                <div class="basic">
                    <div class="timeline-item">Submit Raw Audio and any episode specific audio</div>
                    <div class="timeline-item">We remove the Ahs and Ums and balance volumes</div>
                </div>
                <div class="premium">
                    <div class="timeline-item">Recieve as transcript</div>
                    <div class="timeline-item">Apply comments and edits to the transcript</div>
                </div>
                <div class="basic">
                    <div class="timeline-item">Recieve a polished podcast episide for review or self-publishing</div>
                </div>
            </div>
        </div>

        <h2>Getting your episode online</h2>
        <div class="timeline-wrapper">
            <div class="timeline">
                <div class="enterprise">
                    <div class="timeline-item">Write up per-episode description</div>
                    <div class="timeline-item">Signoff of on final episode, title and description</div>
                    <div class="timeline-item">Post podcast on hosting</div>
                    <div class="timeline-item">Recieve podcast statistics</div>
                </div>
            </div>
        </div>
    </div>
</div>
