<div class="waitlist-form">
    <div *ngIf="!showSplash" class="form">
        <h2>{{title}}</h2>
        <div *ngIf="isBusiness" class="flex-column">
            <mat-form-field>
                <input matInput placeholder="Full Name" [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email Address" [(ngModel)]="email">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Company Name" [(ngModel)]="company">
            </mat-form-field>
        </div>
        <div *ngIf="!isBusiness" class="flex-column">
            <mat-form-field>
                <input matInput placeholder="Full Name" [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email Address" [(ngModel)]="email">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="What type of editing do you do? (e.g. do you do detailed edits)" [(ngModel)]="editingType"></textarea>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Tell us a bit about the project you're proud of" [(ngModel)]="project"></textarea>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Please provide a link to a previous project you have worked on" [(ngModel)]="previousWorkLink">
            </mat-form-field>
        </div>
        <button mat-raised-button class="cta-button" (click)="submit()">Submit</button>
    </div>
    <div *ngIf="showSplash">
        <h2>{{completion}}</h2>
        <mat-icon class="splash-check">check</mat-icon>
    </div>
</div>   